:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: pink;
}

a {
  font-weight: 500;
  text-decoration: inherit;
    color: #323232;
}
/* a:hover {
} */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  width: 18rem;
  height: 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img-top {
  height: 100px !important;
}

.card-title {
  font-size: 22px;
}

footer {
  background-color: #DDD0C8;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  position: static;
}

.footer-link {
  top: 50%
}

h2 {
  color: #323232;
}

.linkbox {
  margin-top: 15px;
}

.navbar {
  background-color: #DDD0C8;
}

.profile-footer {
  text-align: center;
  position: fixed;
  inset: auto 0 0 0;
  padding: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
